/* font size 14px to body font size 16px to h1 inside body font size 12px to h1 of class .smaller inside body */ 
body {
    font-size: 14px;
    h1 {
        font-size: 16px;
        &.smaller {
            font-size: 12px;
        }
    }
}